- breadcrumb :smtp_setting, @hosting_server, @smtp_setting

= link_to_back hosting_server_smtp_settings_path(@hosting_server)

= form_wrapper(t("actions.smtp_setting.#{action}")) do
  = simple_form_for([@hosting_server, @smtp_setting], options_for_horizontal_form) do |f|
    = f.error_notification
    = f.input :name
    = f.input :value
    = f.button :submit
