= form_wrapper('Забыли пароль?') do
  = simple_form_for(resource, options_for_horizontal_form.merge(as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' })) do |f|
    = f.error_notification
    = f.input :email, required: true, autofocus: true
    = f.button :submit, 'Выслать инструкции по восстановлению пароля'

= render 'devise/shared/links'
