!!!
%html
  %head
    %title Bosting Server
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          = link_to t('site.title'), '/', class: 'navbar-brand'

    .container
      = flash_messages
      = breadcrumbs style: :bootstrap

      - if show_title?
        %h1.h2= yield(:title)

      = yield
